h1 {
    text-align:center;
}

header .profile-thumbnail {
    width: 100px;
    height: 100px;
    border-radius: 50%;

}

* {
    font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
}

